@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(-15px, 0, 0) scale(0.95); 
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
}

.animate-fadeIn{
    animation: fadeIn 0.5s ease-out forwards;
}
.edit-cheque-container{
flex: 1;
padding:20px;
}
.form-container{
    max-width: 500px;
    margin: 30px auto 0;
    padding:30px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.1rem;
}
.form-content{
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: black;
}
.form-control{
    width:100%;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    color: black;
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
}
.form-control:focus {
    outline:none;
    animation: shake 0.5s ease-in-out;
}
.from-actions{
    display: flex;
}
.save-button{
    background: linear-gradient(90deg, #9333ea, #a855f7); 
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 2rem;
    padding:12px 20px;
    font-size: 0.9rem;
    transition: background 0.3s;
}
.save-button:hover{
    background: linear-gradient(90deg, #a855f7, #9333ea);
   
}